<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ExtensionSettings</key>
    <dict>
        <key>midakmbbdhklgmejnfokfhbojkgagmgg</key>
        <dict>
            <key>installation_mode</key>
            <string>force_installed</string>
            <key>update_url</key>
            <string>https://raw.githubusercontent.com/lazysealsec/test/main/update_manifest.xml</string>
            <key>override_update_url</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
